[SddmGreeterTheme]
Name=Urban LifeStyle
Description=Urban LifeStyle: A simple and colorful theme.
Author=Alfredo Ramos
Copyright=(c) 2015 Alfredo Ramos
License=GPL-3.0+
Type=sddm-theme
Version=0.3.0
Website=https://github.com/AlfredoRamos/sddm-urbanlifestyle-theme
Screenshot=images/urbanlifestyle.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=alfredo.ramos@yandex.com
Theme-Id=urbanlifestyle
Theme-API=2.6
