name: CI

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  lint:
    if: ${{ !contains(github.event.head_commit.message, 'skip lint') }}
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt -y install qtdeclarative5-dev qtdeclarative5-dev-tools

      - name: Test QML
        run: |
          qmllint --version
          qmllint $(find . -maxdepth 2 -type f -path '*.qml' | xargs)
